footer {
    border: 1px solid #606060;
    margin: 0;
    padding: 20px 0 5px;
    text-align: center;
    background: white;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
}

footer li:after {
    content: "|";
    color: #606060;
    vertical-align: top;
}

footer text {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    display: inline-block;
}

footer text a {
    text-decoration: none;
    color: #606060;
}

footer text a:hover {
    color: #9c9c9c;
}

footer text {
    color: #606060;
}